/* Fonts and Color */
body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: rgb(100,100,100);
  margin-top: 64px;
  text-align: center;;
}

/* Custo style */

.cards {
  padding: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 32px;
}

.card {
  border-style: none;
  box-shadow: 0px 0px 16px rgba(0,0,0,0.4);
  display:inline-block;
}

.card div {
  width: 100%;
  height: 300px;
  cursor: pointer;
  font-size: 180px;
  color: rgb(200,200,200,0.8);
  text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
  .card div {
    font-size: 220px;
  }
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  .card div {
    font-size: 200px;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .card div {
    font-size: 140px;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}
