/* Fonts and Color */

body {
  text-align: center;
  line-height: 1.3em;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: rgb(100,100,100);
  margin: 30px 0px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

/* Custo style */

.container {
  width: auto;
}

.row .card {
  margin-bottom: 30px;
  border-style: none;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  display:inline-block;
}

.card div {
  height: auto;
  cursor: pointer;
  font-size: 180px;
  color: rgb(200,200,200,0.5);
  text-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  padding: 5px;
}

.rocky {
  background-image: url("http://www.freecovers.net/preview/0/073f68e3ce37358a7e7aaaeec4adb5f4/big.jpg");
  background-size: cover;
}

/*.my-card-selected {
  background-image: url("https://image.flaticon.com/icons/png/512/26/26025.png"), linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}*/

.space {
  background-image: url("http://www.freecovers.net/preview/0/2a2c3b5f934f2b43dfb7907b180c4391/big.jpg");
  background-size: cover;
}

.fnf {
  background-image: url("http://www.freecovers.net/preview/0/66d97a8f3bf996e443431fd19744375f/big.jpg");
  background-size: cover;
}

.batman {
  background-image: url("http://www.freecovers.net/preview/0/1af1c72cfda64da855b2ac2b8808504b/big.jpg");
  background-size: cover;
}

.starwars {
  background-image: url("http://www.freecovers.net/preview/0/77d8d1d6b258607e0422f377a4d881be/big.jpg");
  background-size: cover;
}

.daftpunk {
  background-image: url("http://www.freecovers.net/preview/0/bbe49a90ef3616f562823cd0ffba6354/big.jpg");
  background-size: cover;
}

.ymca {
  background-image: url("http://www.freecovers.net/preview/0/8cfcd56d50a1269459f0e66bca232464/big.jpg");
  background-size: cover;
}

.queen {
  background-image: url("http://www.freecovers.net/preview/0/33ab9a255add0caa9a96cce3c76bf4ab/big.jpg");
  background-size: cover;
}

.party {
  background-image: url("http://www.freecovers.net/preview/0/af6d9d5b12ccb79fa1936be2859318f3/big.jpg");
  background-size: cover;
}

.loader-container {
  text-align: left;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 50%;
  height: 10%;
  overflow: hidden;
  background-image: linear-gradient(90deg, #555555, #555555 2%, transparent 2%, transparent 98%, #555555 98%);
}
.loader:before, .loader:after {
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  background-image: repeating-linear-gradient(90deg, transparent, transparent 10%, #555555 10%, #555555 15%, transparent 15%, transparent 20%, #555555 20%, #555555 22%, transparent 22%, transparent 30%, #555555 30%, #555555 36%, transparent 36%, transparent 55%, #555555 55%, #555555 56%, transparent 56%, transparent 82%, #555555 82%, #555555 84%, transparent 84%, transparent 98%, #555555 98%, #555555 99%, transparent 99%);
  background-position: 0px 0px;
  animation: movebars 5.6s infinite linear;
}

.loader:before {
  animation: movebars-reverse 5.4s infinite linear;
}
@-moz-keyframes distort {
  50% {
    width: 200px;
  }
}
@-webkit-keyframes distort {
  50% {
    width: 200px;
  }
}
@-o-keyframes distort {
  50% {
    width: 200px;
  }
}
@keyframes distort {
  50% {
    width: 200px;
  }
}
@-moz-keyframes movebars {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 600px 0;
  }
}
@-webkit-keyframes movebars {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 600px 0;
  }
}
@-o-keyframes movebars {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 600px 0;
  }
}
@keyframes movebars {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 600px 0;
  }
}
@-moz-keyframes movebars-reverse {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -600px 0;
  }
}
@-webkit-keyframes movebars-reverse {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -600px 0;
  }
}
@-o-keyframes movebars-reverse {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -600px 0;
  }
}
@keyframes movebars-reverse {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -600px 0;
  }
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
  .card div {
    font-size: 220px;
  }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  .card div {
    font-size: 200px;
  }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .card div {
    font-size: 140px;
  }
}
