/* Fonts and Color */

body {
  text-align: center;
  line-height: 1.3em;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: rgb(100,100,100);
  margin: 30px 0px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

/* Custo style */

.container {
  width: auto;
}

.row .card {
  margin-bottom: 30px;
  border-style: none;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  display:inline-block;
}

.card div {
  height: auto;
  cursor: pointer;
  font-size: 180px;
  color: rgb(200,200,200,0.5);
  text-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  padding: 5px;
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
  .card div {
    font-size: 220px;
  }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  .card div {
    font-size: 200px;
  }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .card div {
    font-size: 140px;
  }
}
